@use '../basic' as b;

.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: b.$basic-green;
    color: b.$basic-white;
    font-weight: 700;
    transition: b.$transition;
    padding: 0.5rem 2rem;

    &:hover {
        background-color: b.$basic-green2;
    }
}