$font-size: 17px;

// Colors
$basic-green: #168E33;
$basic-green2: #106324;

$basic-black: #4d4d4d;
$basic-white: #ffffff;

/// Backgrounds
$basic-background: #faf7ea;


// Another
$transition: all 0.25s ease-in;