$font-size: 17px;

// Colors
$basic-green: #168E33;
$basic-green2: #106324;

$basic-black: #4d4d4d;
$basic-white: #ffffff;

$basic-grey: #888888;
$basic-grey2: #f2f2f2;

/// Backgrounds
$basic-background: #a8a8a8;


// Another
$transition: all 0.25s ease-in;